.DS_Store
**/.DS_Store
.databricks/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.vscode/
plans/
.ruff_cache/
connectors/
.dbt
# dbt
dbt_project/dbt_packages/
dbt_project/target/
dbt_project/logs/
logs/
dbt_project/.user.yml
dbt_project/.DS_Store